.midSection {
  margin: 4em 13em;
}

.filters {
  display: flex;
}

.filters h3 {
  margin: 1.5em 0.5em;
}

.options {
  display: flex;
}

.options p {
  margin: 1.5em 0.5em;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding: 5px;
}

.options p:hover {
  border: 1px solid black;
  cursor: pointer;
}

.filters h3 {
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.activeFilter {
  border-bottom: 2px solid #ade0db;
}

.activeOption {
  background-color: #d0f2e7;
  border: 1px solid blue;
}

/* CREATE ACCOUNT */

.createAccount {
  border: 1px solid black;
  margin: 4em 13em;
  border-radius: 5px;
  padding: 1em;
}
.createAccount p {
  color: black;
  display: flex;
}

.createAccount button {
  padding: 1em;
  border-radius: 3px;
  background-color: #ade0db;
  border: none;
}

.createAccount button:hover {
  cursor: pointer;
  background-color: #c6dfdc;
}

.spanOptions {
  display: flex;
  margin: 1.5em;
  justify-content: center;
  align-items: center;
}

/* ---LOWER SECTION--- */

.lowerSection {
  padding: 4em 13em;
  background-color: #e0ecec;
}

.eletronicsOptions {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
}

.eletronic {
  padding: 0 1em;
  background-color: #ccc;
  text-align: center;
  margin: 0 0.5em;
  transition: 0.2s ease-in-out;
}

.eletronic:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: black;
}

.eletronic img {
  width: 300px;
  height: 200px;
}

/* ---FOOTER SECTION--- */

.footerSection {
  margin: 4em 13em;
}
