.midSection {
  margin: 4em 13em;
}

.filters {
  display: flex;
}

.filters h3 {
  margin: 1.5em 0.5em;
}

.options {
  display: flex;
}

.options p {
  margin: 1.5em 0.5em;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding: 5px;
}

.options p:hover {
  border: 1px solid black;
  cursor: pointer;
}

.filters h3 {
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.activeFilter {
  border-bottom: 2px solid #ade0db;
}

.activeOption {
  background-color: #d0f2e7;
  border: 1px solid blue;
}

/* ---LOWER SECTION--- */

.lowerSection {
  padding: 4em 13em;
  background-color: #d9dbdb;
}

.eletronicsOptions {
  display: flex;
  margin-top: 1em;
}

.eletronic {
  padding: 0 1em;
  background-color: #ccc;
  text-align: center;
  margin: 0 0.5em;
}

.eletronic img {
  width: 300px;
  height: 200px;
}
