.formControl {
  margin-bottom: 1rem;
}

.formControl label {
  color: rgb(0, 0, 0);
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  padding: 7px;
  border-radius: 4px;
  margin: 1em;
}

.inputButton {
  position: absolute;
  right: 35px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputError {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
