.formControl label {
  color: black;
}

.inputWrapper input {
  padding: 7px;
  margin: 0.5em 0;
  border-radius: 4px;
}

.inputButton {
  position: absolute;
  right: 87.5%;
  top: 63%;

  transform: translateY(-50%);
  cursor: pointer;
}

.inputError {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
