/* Login.module.css */
.login {
  text-align: center;
  margin-left: 1em;

  font-family: Nunito;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

.login input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login .btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login .btn:hover {
  background-color: #0056b3;
}

.login button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.login .error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.separation {
  margin: 0.5em;
  color: black;
}

.socialMedia {
  margin-top: 1em;
}

.google,
.facebook,
.apple {
  text-decoration: none;
  width: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
}

.google:hover {
  background-color: rgb(224, 97, 51);
  cursor: pointer;
}

.facebook:hover {
  background-color: #4c9df3;
  cursor: pointer;
}

.apple:hover {
  background-color: #555;
  cursor: pointer;
}
