/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar h1 {
  margin: 0;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.modal {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modalContent {
  display: block;
  flex-direction: column; /* Faz com que os botões fiquem um embaixo do outro */
}
.modalContent h2 {
  color: black;
}

.modalContent button {
  background-color: #333;
  color: white;
  border: none;

  display: block;
  padding: 10px;
  margin: 5px 0; /* Adiciona espaço entre os botões */
  cursor: pointer;
  border-radius: 3px;
}

.modalContent button:hover {
  background-color: #555;
}
